:root {
  --theme-light: #fff;
  --theme-dark: #000;

  /* Light mode gradient colors */
  --light-gradient-start: #B7E2F9; /* sky-200 */
  --light-gradient-end: #104D71; /* sky-900 */

}

[class="dark"] {
  --theme-light: #000;
  --theme-dark: #fff;

    /* Swap to dark mode gradient */
  --light-gradient-start: #0C4A6D;
  --light-gradient-end: #030712;
}

/* Animated Background styles for GalaxyBackground */

.star-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  background: linear-gradient(
    to bottom left,
    var(--light-gradient-start),
    var(--light-gradient-end)
  );
}

  /* bg-gradient-to-bl from-sky-200 to-sky-900 dark:from-slate-700 dark:to-zinc-700 */

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--theme-dark);
  opacity: 0.8;
  border-radius: 50%;
  transform-origin: 0 0; /* Center origin for outward movement */
  animation: fly var(--speed) linear infinite;
}

/* Keyframe for flying out from the center */
@keyframes fly {
  0% {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translateX(120vw)
      scale(1);
    opacity: 0;
  }
}

/* Flutter Animation  */
.flutter {
  animation: flutter 0.5s ease-in-out infinite alternate;
}

@keyframes flutter {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-5px) rotate(-5deg);
  }
}
